*{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    color: white;
}

.mainContainer{
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    background-color: #131720;
    min-height: calc(100vh - 30px);
}

.mainContainerMobile{
    padding-top: 30px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 30px;
    background-color: #131720;
    min-height: calc(100vh - 30px);
}

.anonsImage{
    transform: scale(1);
}

.anonsImage:hover{
    transform: scale(1.1);
}